body {
    background-color: rgb(11, 243, 201);
    font-family: Arial, sans-serif;
    padding: 0%;
    margin: 0%;

}

h1 {
    color: rgb(169, 50, 95);
    font-size: 40px;
    margin: 30px;

}

h2 {
    color: rgb(132, 42, 78);
    font-size: 30px;
}

h3 {
    color: rgb(172, 62, 108);
    font-size: 25px;
}

p {
    color: rgb(62, 4, 22);
    font-size: 20px;
    line-height: 1.6em;

}

section {
    padding: 25px;
    margin: 30px;
}